<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 align="center">Welcome <span class="member-name" id="bolded"></span></h2>
      </div>
    </div>

    <!--New Pokemon will generate here from the DB-->
    <div class="row" height="100px">
      <div class="col-md-6 col-md-offset-3">
        <h3 align="center">A wild <span class="bolded"></span> appeared!</h3>
        <form class="newPokemon">
          <div class="form-group">
            <label for="catchNew"></label>
            <button type="button" class="btn btn-danger" name="catch">Catch It!</button>
          </div>
          <div class="form-group">
            <label for="catchNew"></label>
            <button type="button" class="btn btn-dark" name="catch">Run Away</button>
          </div>
        </form>
      </div>
    </div>

    <!--User's saved party of 6-->
    <div class="row">
      <h2 align="center"><b>Your Party:</b></h2>
      <table class = "table borderless">
        <tbody>
          <tr>
            <td>
              <button class="btn btn-primary pokeball" id="pokemon1" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke1"></span>
            </td>
            <td>
              <button class="pokeball" id="pokemon2" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke2"></span>
            </td>
            <td>
              <button class="pokeball" id="pokemon3" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke3"></span>
            </td>
            <td>
              <button class="pokeball" id="pokemon4" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke4"></span>
            </td>
            <td>
              <button class="pokeball" id="pokemon5" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke5"></span>
            </td>
            <td>
              <button class="pokeball" id="pokemon6" style="border-radius: 50%;"><img src="/assets/img/circle-cropped.png" style="height: 100px;"/></button>
              <span class="pokeName" id="poke6"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>

  <script>
      $(document).ready(() => {
  // This file just does a GET request to figure out which user is logged in
  // and updates the HTML on the page
  $.get("/api/user_data").then(data => {
    $(".member-name").text(data.name);
  });
});

  </script>