  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <div class="container">
    <div class="row" align="center">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210305/d7ec3d7eb0e99a36d8205443da224ddd.png" alt="pokemon-font" border="0"></a>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 align="center">New to our app? Sign Up below:</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputName1"><b>Username</b></label>
            <input type="name" class="form-control" id="name-input" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1"><b>Email address</b></label>
            <input type="email" class="form-control" id="email-input" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><b>Password</b></label>
            <input type="password" class="form-control" id="password-input" placeholder="Password" name="password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <p align="center"><button type="submit" class="btn btn-danger">Sign Up</button></p>
        </form>
        <br />
        <p align="center">Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(() => {
  // Getting references to our form and input
  const signUpForm = $("form.signup");
  const emailInput = $("input#email-input");
  const passwordInput = $("input#password-input");
  const nameInput = $("input#name-input")


  // When the signup button is clicked, we validate the email and password are not blank
  signUpForm.on("submit", event => {
    event.preventDefault();
    const userData = {
      name: nameInput.val().trim(),
      email: emailInput.val().trim(),
      password: passwordInput.val().trim()
    };

    if (!userData.email || !userData.password) {
      return;
    }
    // If we have an email and password, run the signUpUser function
    signUpUser(userData.name, userData.email, userData.password);
    nameInput.val("");
    emailInput.val("");
    passwordInput.val("");


    
  });

  // Does a post to the signup route. If successful, we are redirected to the members page
  // Otherwise we log any errors
  function signUpUser(name, email, password) {
    $.post("/api/signup", {
      name: name,
      email: email,
      password: password
    })
      .then(() => {
        window.location.replace("/members");
        // If there's an error, handle it by throwing up a bootstrap alert
      })
      .catch(handleLoginErr);
  }

  function handleLoginErr(err) {
    $("#alert .msg").text(err.responseJSON);
    $("#alert").fadeIn(500);
  }
});

  </script>